---
layout: full_width
description: Les ingénieurs Khawa Technology au service de votre projet web. Nous développons, optimisons, auditons ou intégrons avec votre site, boutique en ligne ou application web.
sitemap:
    priority: 1.0
    lastmod: 2018-04-03
    changefreq: monthly
lang: fr
ref: home
---

<!-- SECTION CTA -->
<!--===============================================================-->
<div class="section section-xs section-both section-primary section-call-to">
    <div class="container">
        <div class="row text-center-xs">
            <div class="col-sm-9">
                <h3 class="title-md">Vous êtes intéressé pour travailler avec nous ?</h3>
            </div>
            <div class="col-sm-3 text-right text-center-xs">
                <a href="{{ '/contactez-nous' | absolute_url }}" class="btn btn-primary btn-rounded btn-lg">Contactez-vous</a>
            </div>
        </div>
    </div>
</div>

<!-- SECTION INTRO -->
<!--===============================================================-->
<section id="section-intro" class="section section-light section-both section-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 center-image">
                <div class="img-responsive center-block">
                    <img src="{{ 'images/logo/Khawa_logo_master_colorful_cropped_300x400.png' | absolute_url }}" alt="Khawa Technology"
                         typeof="foaf:Image" class="img-responsive" />
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1 text-justify">
                <div class="lead-section lead">
                    <p>Khawa Technology est une société de développement web basée à Strasbourg spécialisée dans le développement web avec des technologies open source.</p>
                    <p>Nous sommes disponibles en télé-travail. Nous pouvons intégrer votre équipe de développeurs existante ou prendre le lead technique sur votre projet.</p>
                    <p>Nous sommes des passionnés et portons une attention particulière à la qualité de nos livrables. Nous apprécions travailler avec des sociétés qui accordent de l'importance à leur projet web.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION LEQUIPE -->
<!--===============================================================-->
<section class="clearfix section section-both section-dark section-sm" id="section-team">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h2 class="block-title title-xl title-section text-uppercase hr primary-color">L'équipe</h2>
                <p class="text-theme lead lead-section">Nous sommes deux ingénieurs diplômés de l'INSA Lyon cumulant plus de dix années d'expérience dans l'industrie du web.</p>
            </div>
        </div>
        <div class="mb row">
            <div class="col-md-6">
                <div class="team-member teaser clearfix text-center">
                    <img src="{{ 'images/profile-square.jpg' | absolute_url }}"
                         alt="François Koessler" typeof="foaf:Image" class="img-circle center-block mb-16" />
                    <h3 class="text-theme primary-color mb-16">François Koessler</h3>
                    <div>Directeur général - Ingénieur</div>
                    <small>Strasbourg, France</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="team-member teaser clearfix text-center">
                    <img src="{{ 'images/profil-antoine.jpg' | absolute_url }}" alt="Antoine Henry"
                         typeof="foaf:Image" class="img-circle center-block mb-16" />
                    <h3 class="text-theme primary-color mb-16">Antoine Henry</h3>
                    <div>Directeur technique - Ingénieur</div>
                    <small>La Rochelle, France</small>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION CTA -->
<!--===============================================================-->
<section class="clearfix section-polygonal-primary">
    <div class="opacity-layer section section-sm section-both">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    {% include section_contact_us.html %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION SERVICES -->
<!--===============================================================-->
<section class="clearfix section section-both section-light section-sm" id="section-services">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h2 class="title-xl title-section text-uppercase hr primary-color">Nos services</h2>
                <p class="text-theme lead lead-section">Nous proposons notre expertise dans le développement web.</p>
            </div>
        </div>
        <div class="mb row">
            <div class="col-md-5 col-sm-offset-1">
                <div class="icon-sm-side right service">
                    <i class="fa fa-round fa-3x fa-code"></i>
                    <h3 class="title"><span>Développement</span></h3>
                    <p>Vous êtes en recherche de compétences techniques pointues ou de renforts ponctuels sur un projet. Nous intégrons votre équipe de développeurs existante ou prenons le lead technique sur votre projet.</p>
                    <p>Vous fournissez le design, les wireframes et êtes en charge de la gestion de projet, Khawa Technology s'occupe de toute ce qui concerne les développements : analyse, architecture serveur, planning, développement et déploiement.</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="icon-sm-side left service">
                    <i class="fa fa-round fa-3x fa-phone"></i>
                    <h3 class="title"><span>Maintenance et support</span></h3>
                    <p>vous avez un problème technique ou des évolutions mineures à réaliser sur un projet et n'avez pas les ressources pour vous en occuper, Khawa Technology sous-traite vos opération de maintenance, quelque soit la complexité du projet.</p>
                    <p>Khawa Technology propose des plans de maintenance à la carte.</p>
                </div>
            </div>
        </div>
        <div class="mb row">
            <div class="col-md-5 col-sm-offset-1">
                <div class="icon-sm-side right service">
                    <i class="fa fa-round fa-3x fa-lightbulb-o"></i>
                    <h3 class="title"><span>Conseil</span></h3>
                    <p>Notre expertise du web à votre disposition pour trouver des solutions efficaces, pragmatiques et pérennes.</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="icon-sm-side left service">
                    <i class="fa fa-round fa-3x fa-eye"></i>
                    <h3 class="title"><span>Audit</span></h3>
                    <p>Performance, qualité du code, accessibilité, SEO, sécurité.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION TECHNOLOGIES -->
<!--===============================================================-->
<section class="section section-sm section-both section-dark" id="section-technologies">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="title-section text-theme title-xl hr primary-color text-uppercase">Technologies</h3>
                <p class="text-theme lead lead-section">Nous sommes experts avec les technologies et outils suivants :</p>
            </div>
        </div>
        <div class="row mb">
            <div class="col-sm-3">
                <div class="icon-box bordered techno-box">
                    <i class="fa fa-3x primary-color fa-langages"></i>
                    <h3 class="title-sm text-theme mt-10 primary-color">Langages</h3>
                    <ul class="text-theme list-unstyled">
                        <li>Ruby</li>
                        <li>Javascript</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="icon-box bordered techno-box">
                    <i class="fa fa-3x primary-color fa-frameworks"></i>
                    <h3 class="title-sm text-theme mt-10 primary-color">Frameworks</h3>
                    <ul class="text-theme list-unstyled">
                        <li>Ruby on Rails</li>
                        <li>React / Redux /webpack</li>
                        <li>Jekyll</li>
                        <li>GatsbyJS</li>
                        <li>JAMstack</li>
                        <li>Projets legacy</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="icon-box bordered techno-box">
                    <i class="fa fa-3x primary-color fa-e-commerce"></i>
                    <h3 class="title-sm text-theme mt-10 primary-color">E-commerce</h3>
                    <ul class="text-theme list-unstyled">
                        <li>Solidus</li>
                        <li>Sharetribe</li>
                        <li>Shopify</li>
                        <li>Snipcart</li>
                        <li>Moltin</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="icon-box bordered techno-box">
                    <i class="fa fa-3x primary-color fa-devops"></i>
                    <h3 class="title-sm text-theme mt-10 primary-color">Devops tools</h3>
                    <ul class="text-theme list-unstyled">
                        <li>Linux</li>
                        <li>Ansible</li>
                        <li>Docker</li>
                        <li>Vagrant</li>
                        <li>OpenStack</li>
                        <li>Heroku</li>
                        <li>Rancher</li>
                        <li>Jenkins</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION POURQUOI KHAWA -->
<!--===============================================================-->
<section id="section-why-khawa" class="section section-light section-both section-sm">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="title-xl hr primary-color text-uppercase title-section">Pourquoi choisir Khawa ?</h3>
            </div>
        </div>
        <div class="row lead text-justify">
            <div class="col-sm-5">
                <p><strong>Qualité</strong></p>
                <ul>
                    <li>Code documenté pour faciliter les évolutions et la maintenance future</li>
                    <li>Respect des bonnes pratiques pour limiter la dette technique</li>
                    <li>Revues de code : le code est analysé et validé par un développeur tiers avant d'être intégré au projet</li>
                    <li>Mise en place de tests automatisés pour détecter les erreurs avant le déploiement en production</li>
                    <li>Utilisation des méthodes agiles permettant de répondre à des problèmes complexes et changeants en livrant en cycles courts</li>
                </ul>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <p><strong>Transparence</strong></p>
                <ul>
                    <li>Des devis clairs et détaillés listant les tâches à réaliser et le temps estimé</li>
                    <li>Un accès au dépôt git pour suivre les évolutions du code</li>
                    <li>Disponibilité par mail, chat ou téléphone</li>
                    <li>Des rapports décrivant les tâches réalisées</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- SECTION VALUES -->
<!--===============================================================-->
<section id="section-values" class="section section-dark section-both section-sm">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="title-xl hr primary-color text-uppercase title-section">Nos valeurs</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2 lead">
                <p><strong>Des livrables de qualité</strong></p>
                <p>Nous avons mis en place des méthodes rigoureuses nous permettant de fournir des livrables de haute qualité : formation continue, respect des bonnes pratiques, code propre et commenté, test automatisés, revues de code. Nous développons des solutions robustes et pérennes afin d'offrir un retour sur investissement maximal à nos clients.</p>
                <p><strong>Veille technologique</strong></p>
                <p>Nous testons régulièrement les dernières technologies afin d'assurer notre rôle de conseil technologique et d'innovation auprès de nos clients.</p>
                <p><strong>Open source</strong></p>
                <p>Nous utilisons des briques logicielles open source et ne développons que les besoins spécifiques à votre projet, minimisant ainsi les coûts de développement. En retour nous nous impliquons dans la communauté open source autant que possible.</p>
            </div>
        </div>
    </div>
</section>

<!-- SECTION TESTIMONIAL -->
<!--===============================================================-->
<section class="section-polygonal-primary" id="section-testimonials">
    <div class="opacity-layer section section-sm section-both">
        <div class="container">
            <div class="col-sm-6">
                <div class="wrapper-slider text-center">
                    <div id="carousel-22" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            <div class="active item">
                                <img src="{{ 'images/testimonials/testimonials-GE.jpg' | absolute_url }}"
                                     alt="Guillaume Ebelmann" typeof="foaf:Image" class="img-circle center-block" />
                                <h3 class="title-xs text-theme mt-16">Guillaume Ebelmann</h3>
                                <p class="lead text-theme">
                                    <i class="fa fa-quote-left"></i>
                                    Le travail réalisé par Khawa Technology a été de grande qualité.
                                    J'ai particulièrement apprécié la réactivité et la qualité du reporting, vraiment très sérieux.
                                    Ces aptitudes à conduire des développements efficaces, rigoureux, documentés et en bonne interaction avec le reste de l'équipe m'incite à chaudement les recommander.
                                    <i class="fa fa-quote-right"></i>
                                </p>
                            </div>
                            <div class="item">
                                <img src="{{ 'images/testimonials/testimonials-AL.jpg' | absolute_url }}"
                                     alt="Arnaud Lecus" typeof="foaf:Image" class="img-circle center-block" />
                                <h3 class="title-xs text-theme mt-16">Arnaud Lecus</h3>
                                <p class="lead text-theme">
                                    <i class="fa fa-quote-left"></i>
                                    Nous avons travaillé pendant presque un an avec l'équipe de Khawa sur la structuration de notre code ainsi que la mise en place de nouvelles fonctionnalités. Nous avons apprécié le haut niveau technique de l'équipe et sa capacité d'adaptation à un projet existant. Au delà, nous avons beaucoup appris de l'expérience d'Antoine et François et notre collaboration nous a aidé à franchir un cap décisif dans la vie de Visorando.
                                    <i class="fa fa-quote-right"></i>
                                </p>
                            </div>
                            <div class="item">
                                <img src="{{ 'images/testimonials/testimonials-AR.jpg' | absolute_url }}"
                                     alt="Logo Fondation Hippocrene" typeof="foaf:Image" class="img-circle center-block" />
                                <h3 class="title-xs text-theme mt-16">Alexandre Roze</h3>
                                <p class="lead text-theme">
                                    <i class="fa fa-quote-left"></i>
                                    Volonté de comprendre nos besoins et demandes, capacité de les mettre en oeuvre, disponibles pour les questions et précisions; tout cela avec sympathie.
                                    <i class="fa fa-quote-right"></i>
                                </p>
                            </div>
                            <div class="item">
                                <img src="{{ 'images/testimonials/testimonials-PA.jpg' | absolute_url }}"
                                     alt="Logo victoriakhashop" typeof="foaf:Image" class="img-circle center-block" />
                                <h3 class="title-xs text-theme mt-16">Philippe Audra</h3>
                                <p class="lead text-theme">
                                    <i class="fa fa-quote-left"></i>
                                    Excellente prestation. Travail précis, rapide et efficace. Un vrai plaisir de collaborer avec Khawa Technology.
                                    <i class="fa fa-quote-right"></i>
                                </p>
                            </div>
                            <div class="item">
                                <img src="{{ 'images/testimonials/testimonials-VP.jpg' | absolute_url }}"
                                     alt="Vanessa Perillat" typeof="foaf:Image" class="img-circle center-block" />
                                <h3 class="title-xs text-theme mt-16">Vanessa Perillat</h3>
                                <p class="lead text-theme">
                                    <i class="fa fa-quote-left"></i>
                                    Quel bonheur de travailler avec Khawa Technology ! Il sont compétents, rigoureux, honnêtes, intelligents. Je les ai déjà recommandés à d'autres entreprises qui utilisent à présent leurs services. C'est extrêmement rassurant de les avoir à nos côtés pour gérer nos projets web :)
                                    <i class="fa fa-quote-right"></i>
                                </p>
                            </div>
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators carousel-indicators-testimonial">
                            <li data-target="#carousel-22" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-22" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-22" data-slide-to="2" class=""></li>
                            <li data-target="#carousel-22" data-slide-to="3" class=""></li>
                            <li data-target="#carousel-22" data-slide-to="4" class=""></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <p class="lead text-theme text-center">Ils nous font confiance :</p>
                <div id="owl-clients" class="owl-carousel owl-theme mt-20">
                    <div>
                        <img src="{{ 'images/clients/logo_directmarket.png' | absolute_url }}"
                             alt="Direct Market logo" title="Direct Market" typeof="foaf:Image" class="img-responsive" />
                    </div>
                    <div>
                        <img src="{{ 'images/clients/logo_hippocrene.png' | absolute_url }}"
                             alt="Fondation Hippocrène logo" title="Fondation Hippocrène" typeof="foaf:Image" class="img-responsive" />
                    </div>
                    <div>
                        <img src="{{ 'images/clients/logo_visorando.png' | absolute_url }}"
                             alt="Visorando logo" title="Visorando" typeof="foaf:Image" class="img-responsive" />
                    </div>
                    <div>
                        <img src="{{ 'images/clients/logo_whitequest.png' | absolute_url }}"
                             alt="WhiteQuest logo" title="WhiteQuest" typeof="foaf:Image" class="img-responsive" />
                    </div>
                    <div>
                        <img src="{{ 'images/clients/logo_karanta.png' | absolute_url }}"
                             alt="Karanta logo" title="Karanta" typeof="foaf:Image" class="img-responsive" />
                    </div>
                </div>
                <div class="lead text-theme text-center mt-40">
                    <p>Vous aussi, soyez un de nos clients satisfaits.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clearfix section section-sm section-both section-light" id="section-case-studies">
    <div class="container">
        {% include case_studies.html %}
    </div>
</section>

<!-- SECTION STORY -->
<!--===============================================================-->
<section id="section-story" class="section section-dark section-both section-sm">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="title-xl hr primary-color text-uppercase title-section">La petite histoire</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 center-image">
                <img src="{{ 'images/bg/KhawaKharpo.jpg' | absolute_url }}"
                     alt="Khawa Karpo" class="img-responsive" />
            </div>
            <div class="col-sm-6 col-sm-offset-1 text-justify">
                <div class="lead-section lead text-theme">
                    <p>Antoine et François sont deux amis de longue date partis vivre en Asie une fois leur diplôme obtenu. Basés principalement à Pékin, ils ont travaillé dans l'industrie du web pendant plus de huit années.</p>
                    <p>Ayant évolués dans un environnement multiculturel, en startup, agence web et en tant qu'indépendants, ils ont acquis une expérience solide dans la livraison de projets de tailles variées et le leadership technique.</p>
                    <p>Khawa Karpo est le nom de la montagne où Antoine et François ont pris la décision de joindre leurs efforts pour créer la société de développement web Khawa Technology.</p>
                </div>
            </div>
        </div>
    </div>
</section>
