---
layout: null
title: Khawa Technology - Quality web development
description: Khawa Technology engineers at your service. We conceive, develop, optimize, audit your website, e-commerce store or Saas product.
sitemap:
priority: 1.0
lastmod: 2018-04-03
changefreq: monthly
---
<!DOCTYPE HTML>
<html>
<head>
    {% include head.html %}
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
        <h1>{{site.title}}</h1>
        <h2>{{site.tagline}}</h2>
        <p>Top engineers dedicated to your web project<br/>
        We <span id="js-rotate-service">develop, integrate with, audit</span> your <span id="js-rotate-product">API, Saas product, website, e-commerce store</span></p>
        <ul class="actions">
            <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>

    <!-- Header -->
    <header id="header">
        <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
    </header>

    <!-- Nav -->
    <nav id="nav">

        {% include nav.html %}

        <ul class="icons">
            <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
            <li><a href="https://bitbucket.org/{{site.bitbucket}}" class="icon fa-bitbucket" rel="nofollow"><span class="label">Bitbucket</span></a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <!-- Presentation -->
        <section id="presentation">
            <div class="row">
                <div class="6u 12u$(small) align-center">
                    <div class="image">
                        <img src="/images/Khawa_logo.png" alt="Khawa Technology logo" />
                    </div>
                </div>
                <div class="6u$ 12u$(small)">
                    <p>Khawa Technology is a web development company based in Strasbourg, France that specializes in backend development with open source solutions.<p/>
                    <p>We are available part time for remote work. We can integrate with your existing team or take the technical lead of your web project.</p>
                    <p>We are passionate and take great care to ship high quality deliverables only. We enjoy working with companies who care about their web project.</p>
                </div>
            </div>
        </section>

        <!-- Team -->
        <section id="team" class="dark">
           <header class="major">
               <h2>Meet the team</h2>
               <p>We are a two INSA Lyon engineers with more than ten years cumulated experience in the web industry.</p>
           </header>
            <div class="row">
                <div class="6u 12u$(small) align-center">
                    <div class="row">
                        <div class="12u$">
                            <div class="image">
                                <img class="img-circle" src="/images/profile-fk.jpg" alt="François Koessler" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u$">
                            <p class="align-center">
                                <strong>François Koessler</strong><br/>
                                General manager - Engineer<br/>
                                Strasbourg, France
                            </p>
                        </div>
                    </div>
                </div>
                <div class="6u$ 12u$(small) align-center">
                    <div class="row">
                        <div class="12u$">
                            <div class="image">
                                <img class="img-circle" src="/images/profile-ah.jpg" alt="Antoine Henry" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u$">
                            <p class="align-center">
                                <strong>Antoine Henry</strong><br/>
                                CTO - Engineer<br/>
                                La Rochelle, France
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section id="services">
            <div class="row">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2>Services</h2>
                        <p>We offer our expertise in backend development.</p>
                    </header>
                    <dt>
                        <dt><h4>White label development</h4></dt>
                        <dd>
                            <p>You are looking for sharp technical skills or one-off support on a web project. We integrate with your existing development team or work autonomously on your project.</p>
                            <p>You provide the design, wireframes and handle project management, Khawa Technology takes care of everything development related: analysis, architecture, planning, development and deployment.</p>
                        </dd>
                        <dt><h4>Maintenance</h4></dt>
                        <dd>
                            <p>You have issues to fix or minor evolutions to bring on a project and don't have the resources to handle that work, we process your maintenance operations whatever the complexity of the project.</p>
                            <p>Khawa Technology offers a la carte monthly maintenance plans.</p>
                        </dd>
                        <dt><h4>Consulting</h4></dt>
                        <dd><p>Our expertise at your service to find efficient, pragmatic and sustainable solutions.</p></dd>
                        <dt><h4>Audit</h4></dt>
                        <dd><p>Performance, code quality, accessibility, SEO, security.</p></dd>
                    </dl>
                </div>
                <div class="5u$ -1u 12u$(medium)">
                    <header class="major">
                        <h2>Technologies</h2>
                        <p>We are experts with the following techs.</p>
                    </header>
                    <h4>Languages</h4>
                    <ul>
                        <li>PHP</li>
                        <li>Ruby</li>
                        <li>Javascript</li>
                    </ul>
                    <h4>Frameworks</h4>
                    <ul>
                        <li>Rails</li>
                        <li>Solidus (e-commerce)</li>
                        <li>Shopify (e-commerce)</li>
                        <li>Drupal</li>
                    </ul>
                    <h4>Devops</h4>
                    <ul>
                        <li>Ansible</li>
                        <li>Docker</li>
                        <li>Rancher</li>
                        <li>Vagrant</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Values -->
        <section id="values" class="dark">
            <div class="row">
                <div class="5u 12u$(medium)">
                    <header class="major">
                        <h2>Why choose Khawa?</h2>
                    </header>
                    <h4>Quality</h4>
                    <ul>
                        <li>Documented code to ease future evolutions and maintenance</li>
                        <li>USe of best practices to control technical debt</li>
                        <li>Code reviews: code is reviewed by a tier developer before being integrated to the project</li>
                        <li>Automated tests to catch errors before shipping to production</li>
                        <li>Agile methodologies to solve complex and changing problems while shipping in short cycles</li>
                    </ul>
                    <h4>Transparency</h4>
                    <ul>
                        <li>Clear and detailed proposals that list every task with their estimated time</li>
                        <li>An access to the code repository to follow code evolutions</li>
                        <li>We are available by chat, emaiul or phone</li>
                        <li>Monthly reports that describe what has been done</li>
                    </ul>
                </div>
                <div class="6u$ -1u 12u$(medium)">
                    <header class="major">
                        <h2>Values</h2>
                    </header>
                    <dl>
                        <dt><h4>Quality deliverables</h4></dt>
                        <dd>
                            <p>We set up a strict workflow to ensure we deliver high quality deliverables: continuous training, enforcement of industry best practices, clean and commented code, automated tests, code reviews. We build robust and resilient solutions in order to maximize the return on investment for our clients.</p>
                        </dd>
                        <dt><h4>Technological watch</h4></dt>
                        <dd>
                            <p>We regularly try out the latest technologies to provide our clients with the best advices regarding technologies and innovative solutions.</p>
                        </dd>
                        <dt><h4>Open source</h4></dt>
                        <dd><p>We use existing software components and only develop features specific to your project, thus minimizing development costs. We try to give back to the open source community as much as we can.</p></dd>
                    </dl>
                </div>
            </div>
        </section>

        <!-- Story -->
        <section id="story">
            <header class="major">
                <h2>The founders' story</h2>
            </header>
            <p>
                <span class="image right">
                    <img src="/images/KhawaKharpo.JPG" alt="Khawa Karpo moutain" />
                </span>
                Antoine and François are two long time friends who lived in Asia for a while after graduating in France. Primarily based in Beijing, they have been working in the web industry for more than eight years.
                <br/><br/>
                Working in a multicultural environment in startups, web agencies or as independant contractors, they have gained a lot of experience in technical leadership and in shipping web projects of any size.
                <br/><br/>
                Khawa Karpo is the name of the mountain where Antoine and François decided to join their efforts and found Khawa Technology.
            </p>
        </section>

        <!-- Posts -->
        <section class="posts dark">
            {% for post in site.posts limit:3 %}
            {% assign mod3 = forloop.index | modulo: 3 %}
            <article>
                <header>
                    <span class="date">{{ post.date | date_to_string }}</span>
                    <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</h2>
                </header>
                <a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
                <p>{{ post.excerpt }}</p>
                <ul class="actions">
                    <li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
                </ul>
            </article>
            {% if mod3 == 0 %}
            <article>
                <header>
                    <h2><a href="#">Sponsored</h2>
                </header>
            </article>
            {% endif %}
            {% endfor %}
        </section>

        <!-- Footer -->
        <footer>
            <ul class="actions">
                <li><a href="{{ "/blog/" | absolute_url }}" class="button">Our Blog</a></li>
            </ul>
        </footer>
    </div>

    <!-- Footer -->
    {% include foot.html %}
</div>

<!-- Scripts -->
{% include scripts-main.html %}
<script src="{{ "/assets/js/morphext.min.js" | absolute_url }}"></script>
<script>
$(document).ready(function() {
    // Rotate text in Lead
    $("#js-rotate-service").Morphext({
        animation: "fadeInUp",
        separator: ",",
        speed: 3000
    });

    $("#js-rotate-product").Morphext({
        animation: "fadeInDown",
        separator: ",",
        speed: 3000
    });
});
</script>
</body>
</html>
