---
layout: null
title: Khawa Technology - Quality web development
description: Khawa Technology engineers at your service. We conceive, develop, optimize, audit your website, e-commerce store or Saas product.
sitemap:
priority: 1.0
lastmod: 2018-04-03
changefreq: monthly
---
<!DOCTYPE HTML>
<html>
<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "/assets/css/animate.min.css" | absolute_url }}" />
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
        <h1>{{site.title}}</h1>
        <h2>{{site.tagline}}</h2>
        <p>Top engineers dedicated to your web project<br/>
        We <span id="js-rotate-service">develop, integrate with, audit</span> your <span id="js-rotate-product">API, Saas product, website, e-commerce store</span></p>
        <ul class="actions">
            <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>

    <!-- Header -->
    <header id="header">
        <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
    </header>

    <!-- Nav -->
    <nav id="nav">

        {% include nav.html %}

        <ul class="icons">
            <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
            <li><a href="https://bitbucket.org/{{site.bitbucket}}" class="icon fa-bitbucket" rel="nofollow"><span class="label">Bitbucket</span></a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <section class="intro">
            <div class="row">
                <div class="6u">
                    <p>Khawa Technology is a web development company based in Strasbourg, France, that specializes in open source solutions.<p/>
                    <p>We are a small team composed of two INSA Lyon engineers cumulating more than ten years experience in the web industry.<p/>
                    <p>We are passionate and take great care to ship high quality deliverables. We work remotely only.</p>
                </div>
                <div class="6u$">
                   <img src="images/Khawa_logo.png" alt="Khawa Technology logo" />
                </div>
            </div>

        </section>
        <!-- Posts -->
        <section class="posts">
            {% for post in site.posts limit:3 %}
            {% assign mod3 = forloop.index | modulo: 3 %}
            <article>
                <header>
                    <span class="date">{{ post.date | date_to_string }}</span>
                    <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</h2>
                </header>
                <a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
                <p>{{ post.excerpt }}</p>
                <ul class="actions">
                    <li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
                </ul>
            </article>
            {% if mod3 == 0 %}
            <article>
                <header>
                    <h2><a href="#">Sponsored</h2>
                </header>

            </article>
            {% endif %}
            {% endfor %}

        </section>

        <!-- Footer -->
        <footer>
            <ul class="actions">
                <li><a href="{{ "/blog/" | absolute_url }}" class="button">Our Blog</a></li>
            </ul>
        </footer>

    </div>

    <!-- Footer -->
    {% include foot.html %}

</div>

<!-- Scripts -->
{% include scripts-main.html %}
<script src="{{ "/assets/js/morphext.min.js" | absolute_url }}"></script>
<script>
$(document).ready(function() {
    // Rotate text in Lead
    $("#js-rotate-service").Morphext({
        animation: "fadeInUp",
        separator: ",",
        speed: 3000
    });

    $("#js-rotate-product").Morphext({
        animation: "fadeInDown",
        separator: ",",
        speed: 3000
    });
});
</script>

</body>
</html>
