<footer>
    <!-- SECTION FOOTER -->
    <!--===============================================================-->
    <div class="section section-bg footer">
        <div class="opacity-layer section section-both section-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <address itemprop="address">
                            <span itemprop="legalName">Khawa Technology SARL</span><br/>
                            1 rue des fleurs,<br/>
                            67460 Souffelweyersheim
                        </address>
                        <div>
                            Société au capital de 10.000€<br/>
                            SIRET: 82250716600012<br/>
                            Numéro de TVA: FR08822507166
                        </div>
                        <div class="text-theme mt-20">
                            <ul class="list-inline">
                                <li><a href="https://github.com/orgs/khawatechnology"><i class="fa fa-github fa-round"></i></a></li>
                                <li><a href="https://www.drupal.org/khawa-technology"><i class="fa fa-drupal fa-round"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <h3 class="text-theme title-sm hr-left">Articles récents</h3>
                        <ul class="list-unstyled text-theme">
                            <li><a href="#">Article 1</a></li>
                            <li><a href="#">Article 2</a></li>
                            <li><a href="#">Article 3</a></li>
                            <li><a href="#">Article 4</a></li>
                            <li><a href="#">Article 5</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <h3 class="text-theme title-sm hr-left">Navigation</h3>
                        <ul class="list-unstyled text-theme">
                            <li><a href="index.html">Homepage</a></li>
                            <li><a href="articles.html#">Articles</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="mention-legales.html#">Mentions légales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SECTION FOOTER BOTTOM -->
    <!--===============================================================-->
    <div class="section footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center col-footer-bottom">
                    <a id="scroll-top" href="#"><i class="fa fa-angle-up fa-2x"></i></a>
                    <img itemprop="logo" itemscope itemtype="https://schema.org/ImageObject"
                         src="{{ 'images/logo/Khawa_logo_white_92x92.png' | absolute_url }}"
                         alt="Khawa Technology">
                    <p class="copyright">Khawa Technology - Quality web development</p>
                </div>
            </div>
        </div>
    </div>
</footer>
