<footer itemscope itemtype="http://schema.org/Corporation">
    <!-- SECTION FOOTER -->
    <!--===============================================================-->
    <div class="section section-bg footer">
        <div class="opacity-layer section section-both section-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <address itemprop="address">
                            <span itemprop="legalName">Khawa Technology SARL</span><br/>
                            {{ site.location }}
                        </address>
                        <div>
                            {{ site.t[page.lang].footer_share_capital }}<br/>
                            SIRET: 82250716600012<br/>
                            {{ site.t[page.lang].footer_vat_number }}
                        </div>
                        <div class="text-theme mt-20">
                            <ul class="list-inline">
                                <li><a href="https://bitbucket.org/{{ site.bitbucket }}"><i class="fa fa-github fa-round"></i></a></li>
                                <li><a href="https://github.com/{{ site.github }}"><i class="fa fa-bitbucket fa-round"></i></a></li>
                                <li><a href="https://stackoverflow.com/users/{{ site.stack_overflow }}"><i class="fa fa-stack-overflow fa-round"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <h3 class="text-theme title-sm hr-left">{{ site.t[page.lang].recent_articles }}</h3>
                        <ul class="list-unstyled text-theme">
                            {% assign posts=site.posts | where:"lang", page.lang %}
                            {% for post in posts limit:5 %}
                                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <h3 class="text-theme title-sm hr-left">Navigation</h3>
                        <ul class="list-unstyled text-theme">
                            {% if page.lang == 'fr' %}
                            <li><a href="{{ '/accueil' | absolute_url }}">Home</a></li>
                            <li><a href="{{ '/articles' | absolute_url }}">Articles</a></li>
                            <li><a href="{{ '/contactez-nous' | absolute_url }}">Contact</a></li>
                            <li><a href="{{ '/mentions-legales' | absolute_url }}">Mentions légales</a></li>
                            <li><a href="{{ '/khawa-technology.pdf' | absolute_url }}" target="_blank">Plaquette de présentation</a></li>
                            {% else %}
                            <li><a href="{{ '/' | absolute_url }}">Home</a></li>
                            <li><a href="{{ '/posts' | absolute_url }}">Articles</a></li>
                            <li><a href="{{ '/contact-us' | absolute_url }}">Contact</a></li>
                            <li><a href="{{ '/legal-notice' | absolute_url }}">Legal notice</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SECTION FOOTER BOTTOM -->
    <!--===============================================================-->
    <div class="section footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center col-footer-bottom">
                    <a id="scroll-top" href="#"><i class="fa fa-angle-up fa-2x"></i></a>
                    <img itemprop="logo" itemscope itemtype="https://schema.org/ImageObject"
                         src="{{ 'images/logo/Khawa_logo_white_92x92.png' | absolute_url }}"
                         alt="{{ site.title }}">
                    <p class="copyright">{{ site.title }} - {{ site.tagline }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
