<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "assets/icon/apple-touch-icon-57x57.png" | absolute_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ "assets/icon/apple-touch-icon-60x60.png" | absolute_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "assets/icon/apple-touch-icon-72x72.png" | absolute_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "assets/icon/apple-touch-icon-76x76.png" | absolute_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "assets/icon/apple-touch-icon-114x144.png" | absolute_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "assets/icon/apple-touch-icon-120x120.png" | absolute_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "assets/icon/apple-touch-icon-144x144.png" | absolute_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "assets/icon/apple-touch-icon-152x152.png" | absolute_url }}" />
<link rel="icon" type="image/png" href="{{ "assets/icon/favicon-196x196.png" | absolute_url }}" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ "assets/icon/favicon-128x128.png" | absolute_url }}" sizes="128x128" />
<link rel="icon" type="image/png" href="{{ "assets/icon/favicon-96x96.png" | absolute_url }}" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ "assets/icon/favicon-32x32.png" | absolute_url }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ "assets/icon/favicon-16x16.png" | absolute_url }}" sizes="16x16" />
<meta name="application-name" content="Khawa Technology - Quality web development"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{{ "assets/icon/mstile-144x144.png" }}" | absolute_url />
<meta name="msapplication-square70x70logo" content="{{ "assets/icon/mstile-70x70.png" | absolute_url }}" />
<meta name="msapplication-square150x150logo" content="{{ "assets/icon/mstile-150x150.png" | absolute_url }}" />
<meta name="msapplication-wide310x150logo" content="{{ "assets/icon/mstile-310-150.png" | absolute_url }}" />
<meta name="msapplication-square310x310logo" content="{{ "assets/icon/mstile-310x310.png" | absolute_url }}" />
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" /></noscript>
