<header>
    {% include navbar.html is_homepage=true %}
    <div id="section-top" class="section-bg">
        <div class="opacity-layer section section-both section-xl">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="text-theme title-xl hr mt-30 text-uppercase">
                            Khawa Technology
                        </h1>
                        <p class="text-theme lead">{{ site.t[page.lang].home_header_tagline }}</p>
                        <p class="text-theme lead">{{ site.t[page.lang].home_header_tagline2_1 }}
                            <span id="js-rotate-service">{{ site.t[page.lang].home_header_tagline2_2 }}</span>  {{ site.t[page.lang].home_header_tagline2_3 }}
                            <span id="js-rotate-product">{{ site.t[page.lang].home_header_tagline2_4 }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include noscript.html %}
</header>
