<header>
    {% include navbar.html is_homepage=true %}
    <div id="section-top" class="section-bg">
        <div class="opacity-layer section section-both section-xl">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="text-theme title-xl hr mt-30 text-uppercase">
                            Khawa Technology
                        </h1>
                        <p class="text-theme lead">Des ingénieurs au service de votre projet web.</p>
                        <p class="text-theme lead">Nous
                            <span id="js-rotate-service">auditons, optimisons, concevons, développons</span> votre
                            <span id="js-rotate-product">site web., boutique en ligne., plateforme SaaS., intranet.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include noscript.html %}
</header>
