<header>
    {% include navbar.html is_homepage=true %}
    <div id="section-top" class="section-bg">
        <div class="opacity-layer section section-both section-xl">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="text-theme title-xl hr mt-30 text-uppercase">
                            Khawa Technology
                        </h1>
                        <p class="text-theme lead">Top engineers dedicated to your web project</p>
                        <p class="text-theme lead">We
                            <span id="js-rotate-service">develop, integrate a service with, audit</span> your
                            <span id="js-rotate-product">website, e-commerce store, API, Saas product</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include noscript.html %}
</header>
