<div id="header">
    <nav id="nav" class="navbar navbar-default navbar-fixed-top {% if include.is_homepage == true %} index-nav {% else %} navbar-opaque {% endif %}">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span>Menu</span>
                </button>
                <a class="navbar-brand {% if include.is_homepage == true %} switch-brand {% endif %}"
                   href="{{ '/' | absolute_url }}">
                    {% if include.is_homepage == true %}
                        <img class="img-responsive"
                             src="{{ 'images/logo/Khawa_logo_white_280x92_centurygothic.png' | absolute_url }}"
                             alt="Khawa Technology logo">
                    {% endif %}
                    <img class="img-responsive switch-logo"
                         src="{{ 'images/logo/Khawa_logo_colorful_280x92_centurygothic.png' | absolute_url }}"
                         alt="Khawa Technology logo">
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <div id="main-navigation">

                    <ul class="nav navbar-nav navbar-left">
                        {% for item in site.data.menu_items %}
                            <li class="{% if page.url contains item.url[page.lang] %}active{% endif %}">
                                <a href="{{ item.url[page.lang] }}" data-target="{{ item.data-target }}"
                                   class="{% if page.url contains item.url[page.lang] %}is-active{% endif %}">
                                    {{ item.title[page.lang] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <ul id="language-switcher" class="links nav navbar-nav navbar-right">
                    <li id="language-menu-dropdown" class="dropdown">
                        <!--TODO: Active item doesn't work yet-->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ site.t[page.lang].navbar_language }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left" role="menu">
                            {% assign current=page.lang %}
                            {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
                            {% for post in posts %}
                                {% if current contains post.lang %}
                                    {% assign classes="is-active language-link" %}
                                {% else %}
                                    {% assign classes="language-link" %}
                                {% endif %}
                            <li>
                                <a href="{{ post.url }}" class="{{ classes }}">{{ post.lang }}</a>
                            </li>
                            {% endfor %}

                            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                            <h1>{{current}}</h1>
                            {% for page in pages %}
                            <li>
                                {% if current contains page.lang %}
                                    {% assign classes="is-active" %}
                                {% else %}
                                    {% assign classes="" %}
                                {% endif %}
                                <a href="{{ page.url }}" class="{{classes}} language-link">{{ page.lang }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
