<header>
    <div id="header">
        <nav id="nav" class="navbar navbar-default navbar-fixed-top index-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span>Menu</span>
                    </button>
                    <a class="navbar-brand switch-brand" href="{{ absolute_url }}">
                        <img class="img-responsive"
                             src="{{ 'images/logo/Khawa_logo_white_280x92_centurygothic.png' | absolute_url }}"
                             alt="Khawa Technology logo">
                        <img class="img-responsive switch-logo"
                             src="{{ 'images/logo/Khawa_logo_colorful_280x92_centurygothic.png' | absolute_url }}"
                             alt="Khawa Technology logo">
                    </a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <div id="main-navigation">

                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="/#section-top" data-drupal-link-system-path="<front>"
                                   data-target="#section-top" class="is-active">
                                    Accueil
                                </a>
                            </li>
                            <li>
                                <a href="/#section-services" data-target="#section-services">Services</a>
                            </li>
                            <li>
                                <a href="/#section-technologies" data-target="#section-technologies">Technologies</a>
                            </li>
                            <li>
                                <a href="/#section-team" data-target="#section-team">L'équipe</a>
                            </li>
                            <li>
                                <a href="/#section-values" data-target="#section-values">Valeurs</a>
                            </li>
                            <li>
                                <a href="/#section-case-studies" data-target="#section-case-studies">Réalisations</a>
                            </li>
                            <li>
                                <a href="/fr/articles" data-drupal-link-system-path="articles">Articles</a>
                            </li>
                            <li>
                                <a href="/fr/contact" data-drupal-link-system-path="contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <ul id="language-switcher" class="links nav navbar-nav navbar-right">
                        <li id="language-menu-dropdown" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Langue
                            </a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu">
                                <li hreflang="en">
                                    <a href="/en" class="language-link" hreflang="en">English</a>
                                </li>
                                <li hreflang="fr" class="is-active">
                                    <a href="/fr" class="language-link is-active" hreflang="fr">Français</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="section-top" class="section-bg">
        <div class="opacity-layer section section-both section-xl">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="text-theme title-xl hr mt-30 text-uppercase">
                            Khawa Technology
                        </h1>
                        <p class="text-theme lead">Des ingénieurs au service de votre projet web.</p>
                        <p class="text-theme lead">Nous
                            <span id="js-rotate-service">auditons, optimisons, concevons, développons</span> votre
                            <span id="js-rotate-product">site web., boutique en ligne., plateforme SaaS., intranet.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>