<header>
    <!-- NAVBAR -->
    <!--===============================================================-->
    <div id="header">
        <nav id="nav" class="navbar navbar-default navbar-transparent navbar-fixed-top index-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span>Menu</span>
                    </button>
                    <a class="navbar-brand switch-brand" href="#">
                        <img class="img-responsive"
                             src="{{ 'images/logo/Khawa_logo_white_280x92_centurygothic.png' | absolute_url }}"
                             alt="Khawa Technology logo">
                        <img class="img-responsive switch-logo"
                             src="{{ 'images/logo/Khawa_logo_colorful_280x92_centurygothic.png' | absolute_url }}"
                             alt="Khawa Technology logo">
                    </a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="navigation-menu" class="nav navbar-nav navbar-left">
                        <li><a data-scroll data-options='{"updateURL": false}' href="#">Home</a></li>
                        <li><a data-scroll data-options='{"updateURL": false}' href="#section-services">Services</a></li>
                        <li><a data-scroll data-options='{"updateURL": false}' href="#section-company">Valeurs</a></li>
                        <li><a data-scroll data-options='{"updateURL": false}' href="#section-technologies">Technologies</a></li>
                        <li><a data-scroll data-options='{"updateURL": false}' href="#section-case-studies">Réalisations</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="blog.html">Blog</a></li>
                    </ul>
                    <ul id="language-menu" class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="'button" aria-haspopup="true" aria-expanded="false">Langue</a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu">
                                <li><a href="#">Français</a></li>
                                <li><a href="#">Anglais</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>
    <!-- NAVBAR END -->
    <!--===============================================================-->
    <div class="section-bg">
        <div class="opacity-layer section section-both section-xl">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <h1 class="text-theme title-xl hr mt-30 text-uppercase" itemprop="name">Khawa Technology</h1>
                        <p class="text-theme lead">Des ingénieurs français au service de votre projet web.</p>
                        <p class="text-theme lead">Nous <span id="js-rotate-service">auditons, optimisons, concevons, développons</span> votre <span id="js-rotate-product">site web, boutique en ligne, plateforme SaaS, intranet</span>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

